<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <!-- Fragment: Scripts -->
    <div th:fragment="scripts">

        <link rel="stylesheet" th:href="@{/css/navbar.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
        <link rel="stylesheet" th:href="@{/css/auth.css}">
        <link rel="stylesheet" th:href="@{/css/loading.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        
        <!-- Auth Script -->
        <script th:src="@{/js/auth.js}"></script>
    </div>

</html>